* {
    box-sizing: border-box;
}

html, body {        
    height: 100%;    
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

a {                    
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    min-height:  100%;    
}

button {
    display: inline-block;
    padding: 7px 12px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 3px;
    cursor: pointer;
}

header {
    // h1 {
    //     font-size: 3em;
    //     margin: 0;
    //     overflow: hidden;
    //     padding: 10px 0;
    //     color: #007ee5;
    //     font-weight: 700;  
    //     img {
    //         width: 50px;
    //         height: 50px;
    //         display: block;
    //         float: left;
    //         padding-top: 15px;
    //         padding-right: 10px;
    //     }  
    // }    
}

main {
    color: #007ee5;
    padding-bottom: 30px;   
    .left {
        float: left;
        width: 25%;
        padding-top: 10px;
                
        h1 {
            // font-size: 3em;
            // margin: 0;
            // overflow: hidden;
            // padding: 10px 0;
            // color: #007ee5;
            // font-weight: 700;  
            height: 70px;
                img {
                    width: 50px;
                    height: 50px;
                    display: block;
                    // float: left;
                    // padding-top: 15px;
                    // padding-right: 10px;
                    // padding-bottom: 10px;
                }  
        }
        
        .active {
            // background-color: #2895F1;
            border-radius: 5px;
            color: #000;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 5px;
            font-size: 1.2em;
            
            li {
                a {
                    color: #2895F1;
                    display: block;                    
                    padding: 5px;
                    // width: 50%;
                }
            }
        }        
    }   
    .right {
        float: right;
        width: 75%;
        // padding-top: 20px;
        
        .nav-title {
            font-size: 18px;
            font-weight: 400;
            color: #000;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 16px; 
            margin-bottom: 30px;
        }
    }
}

footer {
    height: 30px;
    margin-top: -30px;
    p {
        margin: 0;
        color: #007ee5;
        a {
            text-decoration: none;
            color: #007ee5;
        }
    }
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.messages {
    list-style-type: none;    
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        
        h2 {
            font-size: 1.5em;
        }
        
        h4 {
            font-size: .8em;
            margin-bottom: 15px;
        }
    }
}


textarea {       
    border: 1px solid #007ee5;
    border-radius: 3px;
    display: block;
    height: 400px;
    margin-bottom: 10px;   
    resize: none;
    width: 400px;
}

textarea:focus {
    outline: none;
    border: 3px solid #007ee5;
}

.submit-btn {    
    border-color: #0071ce;
    background-color: #007ee5;
    background: -webkit-linear-gradient(#007ee5, #0071ce);
    background: linear-gradient(#007ee5, #0071ce);
    color: #fff;
    // padding: 5px;    
}