html, body {
    height: 100%;    
}

body {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

a {                    
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    min-height:  100%;    
}

header {
    h1 {
        font-size: 3em;
        margin: 0;
        padding: 10px 0;
        color: #007ee5;
        font-weight: 700;  
        img {
            width: 50px;
            height: 50px;
            display: block;
            float: left;
            padding-top: 15px;
            padding-right: 10px;
        }  
    }    
}

main {
    color: #007ee5;
    padding-bottom: 30px;   
    .left {
        float: left;
        width: 30%;
        padding-top: 10px;
        
        .active {
            background-color: #2895F1;
            border-radius: 5px;
            color: #fff;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 5px;
            font-size: 1.5em;
            
            li {
                a {
                    color: #2895F1;
                    display: block;                    
                    padding: 5px;
                    width: 50%;
                }
            }
        }        
    }   
    .right {
        float: right;
        width: 70%;
        // padding-top: 20px;
    }
}

footer {
    height: 30px;
    margin-top: -30px;
    p {
        margin: 0;
        color: #007ee5;
        a {
            text-decoration: none;
            color: #007ee5;
        }
    }
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}



